* {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior-y: contain;
  width: 100%;
  height: 100%;
  user-select: none;
  font-family: Raleway, sans-serif;
  position: fixed;
  overflow: hidden;
}
